name: cppcheck_test_issue

on:
  push:
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: |
          sudo apt install cppcheck
      # ------------- Tests ----------------
      - name: test_lab1
        run: |
          cppcheck ignore/test.c --enable=style,warning,performance 2> test.txt
          echo "result=test.txt" >> $GITHUB_OUTPUT
      # ------------- issues ----------------
      - name: Create Issue From File
        uses: peter-evans/create-issue-from-file@v4
        if: $GITHUB_OUTPUT != ' '
        with:
          title: Issues Test
          content-filepath: test.txt
          labels: |
            report
            automated issue
      # ------------- Fail ----------------
      - name: Error
        if: $GITHUB_OUTPUT != ' '
        run:
          echo "Erro no Teste"
          exit 1
