name: cppcheck_test_issue

on:
  push:
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: |
          sudo apt install cppcheck
      # ------------- Tests ----------------
      - name: test_lab1
        run: |
          cppcheck test_correct.c --enable=style,warning,performance 2> test.txt
          
      - name: Upload output file
        uses: actions/upload-artifact@v3
        with:
          name: output-log
          path: test.txt
  Upload:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download Log
        uses: actions/download-artifact@v3
        with:
          name: output-log
          
      - name: extract
        id: test
        run:
          value=`cat test.txt`
          echo "log=$value" >>$GITHUB_OUTPUT
    
      # ------------- issues ----------------
      - name: Create Issue From File
        uses: peter-evans/create-issue-from-file@v4
        if: ${{ steps.test.outputs.log != '' }}
        with:
          title: Issues Test
          content-filepath: test.txt
          labels: |
            report
            automated issue
      # ------------- Fail ----------------
      - name: Error
        if: ${{ steps.test.outputs.log != '' }}
        uses: actions/github-script@v3
        with:
          script: |
            core.setFailed('Erro no Teste')
